<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tools/rain-simulator/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /tools/rain-simulator/index.html [L]
</IfModule>